# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Spark 
4. SQL
5. Julia
6. Go

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. SKlearn
5. Tensorflow
6. Pytorch
7. Keras
8. ggplot

| Datascience Tools |
| :- |
| Jupyter Notebook |
| VS Code |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python
$ 5 + 5 = 10 $
<br>
$ 10 - 7 = 3 $
<br>
$ 10 * 7 = 70 $
<br>
$ 10 / 5 = 2 $
<br>
$ 10 \% 7 = 3 $

In [1]:
#This a simple arithmetic expression to mutiply then add integers
exp = (3*4) + 5
print(exp)

17

In [2]:
min = 200
hrs = 200 / 60
print(hrs)

3.3333333333333335

# **Objectives** :
* Listing the most popular Datasciene Languages
* Listing the 3 open source tools
* listing the datascience libraries
* Arithmetic Expressions in Jupyter MarkdownCell

## Author
Jangiti Naveen